<html>
    <head>
        <title>My scratchboard page</title>
    </head>

    <body>

        <div>
            Primer Comentario.
        </div>

        <div>
            Segundo comentario.  No es mas interesante que el primero
        </div>

        <div>
            Este es el tercer comentario. Lo mismo que el anterior
        </div>

        <div>
            <form action="." method="POST">
                <textarea name="contents" placeholder="Digite un comentario"></textarea>
                <input type="submit" value="Post comment">
            </form>
        </div>

    </body>
</html>